version: "3.9"
services:
  order-service:
    build: ./order-service
    ports:
      - "8000:8000"
    depends_on:
      - inventory-service
      - payment-service
  inventory-service:
    build: ./inventory-service
    ports:
      - "8001:8000"
  payment-service:
    build: ./payment-service
    ports:
      - "8002:8000"
  frontend:
    build: ./frontend
    ports:
      - "8003:8000"
    depends_on:
      - order-service
